@charset "UTF-8";

html {
  font-size: 16px 32px;
  font-family: "Times";
  background-color: #d4948d;
	 }
	h1 {
    text-align: center;
	color:#634440;
	font-family: Times;
    padding: 20px 5px;
}

h2 {
	color: #6344407;
	font-family: Times;
   }

li {
	color: #6344407;
}
